services:
  db:
    image: postgres:16
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./backend
      dockerfile: ../docker/backend.Dockerfile
    env_file:
      - .env
    volumes:
      - ./backend:/app
    command: >
      sh -c "
      python manage.py makemigrations &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8001
      "
    ports:
      - "8001:8001"
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: ../docker/frontend.Dockerfile
    env_file:
      - .env
    volumes:
      - ./frontend:/app
    command: npm run dev
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  postgres_data:
