# fly.toml app configuration file for sala-de-leitura-backend

app = "sala-de-leitura-backend"
primary_region = "gru"

[build]
  dockerfile = "Dockerfile"

[deploy]
  release_command = "python manage.py migrate --noinput"

[env]
  DJANGO_DEBUG = "0"
  PORT = "8000"

[http_service]
  internal_port = 8000
  force_https = true
  auto_start_machines = true
  auto_stop_machines = true
  min_machines_running = 1

[[vm]]
  memory = "1gb"
  cpus = 1

